@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* 共通設定
========================================================================== */
html {
  font-size: calc(100vw / 75);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --vw: 100vw;
  --first-view-height: 100vh;
  --color-base: #333333;
  --color-bg: #ffffff;
  --color-nav: #888;
  --color-primary: #003893;
  --color-secondary: #FF533D;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #D9D9D9;
  --font-family-base: "Noto Sans JP", "メイリオ", "meiryo", sans-serif;
  --header-height : min(calc(80 * 100vw / 1200), 80px);
  --header-height-sp : calc(120 * 100vw / 750);
}

body {
  height: 100vh;
  color: var(--color-base);
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.06em;
}
a {
  color: var(--color-base);
}
h1 {
  width: calc(200 * 100vw / 750);
  z-index: 9999;
}
h2 {
  margin: 0 auto calc(48 * 100vw / 750);
  padding-bottom: calc(4 * 100vw / 750);
  font-weight: 700;
  border-bottom: calc(4 * 100vw / 750) solid var(--color-secondary);
  .h2__main {
    font-size: calc(56 * 100vw / 750);
    letter-spacing: 0.06em;
  }
  .h2__sub {
    font-size: calc(28 * 100vw / 750);
  }
}
h3 {
  margin-inline: auto;
  margin-bottom: calc(64 * 100vw / 750);
  padding: 0 calc(20 * 100vw / 750);
  font-size: calc(44 * 100vw / 750);
  font-weight: 700;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: calc(3 * 100vw / 750) solid var(--color-secondary);
}
section {
  position: relative;
  margin: 0 auto;
}
.main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: calc(120 * 100vw / 750);
  position: relative;
}
.main > section {
  margin: 0 calc(60 * 100vw / 750);
}

@media screen and (min-width: 751px) {
html {
  font-size: 62.5%;
}
a:hover {
  opacity: .7;
  transition: all .3s;
}
h1 {
  width: min(calc(150 * 100vw / 1200), 150px);
}
h2 {
  margin: 0 auto min(calc(36 * 100vw / 1200), 36px);
  padding-bottom: min(calc(4 * 100vw / 1200), 4px);
  border-bottom: 4px solid var(--color-secondary);
  .h2__main {
    font-size: min(calc(48 * 100vw / 1200), 48px);
  }
  .h2__sub {
    font-size: min(calc(28 * 100vw / 1200), 28px);
  }
}
h3 {
  margin-inline: auto;
  margin-bottom: min(calc(64 * 100vw / 1200), 64px);
  padding: 0 min(calc(20 * 100vw / 1200), 20px);
  font-size: min(calc(44 * 100vw / 1200), 44px);
  border-bottom: 3px solid var(--color-secondary);
}

.main {
  padding-top: min(calc(60 * 100vw / 1200), 60px);
  padding-bottom: min(calc(120 * 100vw / 1200), 120px);
}
.main > section {
  margin: 0 min(calc(60 * 100vw / 1200), 60px);
}
}

/* SP・PC 表示切替え
-------------------------------------------------------------------------- */
@media screen and (max-width: 751px){
	.pc { display: none; }
	.sp { display: block; }
}
@media screen and (min-width: 751px){
	.pc { display: block; }
	.sp { display: none; }
}

/* header
-------------------------------------------------------------------------- */
#header{
&.header {
  width: 100%;
  height: var(--header-height-sp);
  position: fixed;
  z-index: 100;
  background: var(--color-white);
  border-bottom: 3px solid var(--color-primary);
}
.header__inner {
  margin: auto;
  height: var(--header-height-sp);
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.header__logo {
  padding-left: calc(20 * 100vw / 750);
}
.gnav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  display: flex;
  flex-direction: column;
  transition: .4s all;
  &.active {
    top: 0;
  }
}
.gnav__link {
  font-size: calc(44 * 100vw / 750);
  font-weight: bold;
  color: var(--color-white);
  letter-spacing:0.1em;
}
.gnav__list {
  padding: calc(120 * 100vw / 750) calc(20 * 100vw / 750) 0;
  display: flex;
  gap: calc(32 * 100vw / 750) 0;
  flex-direction: column;
  height: 100%;
  background: var(--color-base);
  opacity: 0.9;
}
.gnav__btn {
  display: flex;
  flex-direction: column;
}
.gnav__btn-link {
  padding: calc(36 * 100vw / 750) 0;
  font-size: calc(32 * 100vw / 750);
  font-weight: bold;
  text-align: center;
  color: var(--color-white);
  &.--contact{
    background: var(--color-secondary);
  }
  &.--catalog{
    background: var(--color-primary);
  }
}
}

@media screen and (min-width: 751px){
#header{
&.header {
  height: var(--header-height);
}
.header__inner {
  padding: 0;
  height: var(--header-height);
}
.header__logo {
  padding-left: min(calc(20 * 100vw / 1200), 20px);
}
.gnav {
  width: initial;
  position: initial;
  transform: initial;
  display: flex;
  flex-direction: row;
  gap: 0 min(calc(72 * 100vw / 1200), 72px);
}
.gnav__link {
  font-size: min(calc(18 * 100vw / 1200), 18px);
  color: var(--color-base);
}
.gnav__list {
  padding: initial;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0 min(calc(36 * 100vw / 1200), 36px);
  background: initial;
}
.gnav__btn {
  flex-direction: row;
}
.gnav__btn-link {
  width: min(calc(200 * 100vw / 1200), 200px);
  padding: min(calc(24 * 100vw / 1200), 24px) 0;
  font-size: min(calc(22 * 100vw / 1200), 22px);
  font-weight: bold;
  text-align: center;
  color: var(--color-white);
  &.--contact{
    background: var(--color-secondary);
  }
  &.--catalog{
    background: var(--color-primary);
  }
}
}
}
/* ハンバーガーメニュー */
#gnav__floating {
  z-index: 9999;
  .btn__gnav {
    padding-right: calc(20 * 100vw / 750);
    width: calc(50 * 100vw / 750);
    height: calc(50 * 100vw / 750);
    min-width: 50px;
    cursor: pointer;
    box-sizing: content-box;
  }
  .btn__gnav span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: var(--color-base);
    position: relative;
    top: calc(50% - calc(2 * 100vw / 750));
    left: 0;
    transition: all 0.6s;
  }
  .btn__gnav span::before,
  .btn__gnav span::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
    transition: all 0.6s;
  }
  .btn__gnav span::before {
    transform: translate(0, -16px);
  }
  .btn__gnav span::after {
    transform: translate(0, 16px);
  }
  .btn__gnav.active span {
    background: transparent;
  }
  .btn__gnav.active span::before {
    transform: rotate(-45deg);
    background: #ffffff;
  }
  .btn__gnav.active span::after {
    transform: rotate(45deg);
    background: #ffffff;
  }
}

@media screen and (min-width: 751px){
  #gnav__floating {
    display: none;
  }
}
/* breadlist */
#bread{
&.bread {
  margin-bottom: calc(48 * 100vw / 750);
  padding: calc(140 * 100vw / 750) calc(20 * 100vw / 750) 0;
  font-size: calc(16 * 100vw / 750);
}
.bread__list {
  margin-bottom: calc(24 * 100vw / 750);
  display: flex;
  gap: 0 calc(8 * 100vw / 750);
}
.bread__link {
  text-decoration: underline;
  color: #888;
}
.bread__item:not(:last-child)::after {
  content: ">";
  padding-left: calc(8 * 100vw / 750);
  color: #888;
}
}

@media screen and (min-width: 751px){
#bread{
  &.bread {
  margin-bottom: min(calc(28 * 100vw / 1200), 28px);
  padding: min(calc(100 * 100vw / 1200), 100px) min(calc(20 * 100vw / 1200), 20px) 0;
  font-size: min(calc(16 * 100vw / 1200), 16px);
}
.bread__list {
  margin-bottom: min(calc(24 * 100vw / 1200), 24px);
  gap: 0 min(calc(8 * 100vw / 1200), 8px);
}
.bread__item:not(:last-child)::after {
  padding-left: min(calc(8 * 100vw / 1200), 8px);
}
}
}

/* footer
-------------------------------------------------------------------------- */
#footer {
&.footer {
  background: var(--color-gray);
}
.footer__inner {
  padding: calc(40* 100vw / 750);
  display: flex;
  flex-direction: column;
}
.footer__logo {
  margin-bottom: calc(40* 100vw / 750);
  display: flex;
  align-items: center;
  gap: 0 calc(20* 100vw / 750);
  & img{
    width: calc(250* 100vw / 750);
  }
  & p {
    font-size: calc(24 * 100vw / 750);
    font-weight: 700;
  }
}
.fnav__list {
  display: flex;
  flex-direction: column;
  gap: calc(8 * 100vw / 750);
}
.fnav__item {
  font-size: calc(24 * 100vw / 750);
  font-weight: 700;
}
.footer__copy {
  font-size: calc(14 * 100vw / 750);
  letter-spacing: 0.16em;
  text-align: center;
}
}

@media screen and (min-width: 751px){
#footer {
.footer__inner {
  max-width: 1200px;
  margin-inline: auto;
  padding: min(calc(40 * 100vw / 1200), 40px) 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0 min(calc(108 * 100vw / 1200), 108px);
}
.footer__logo {
  margin-bottom: inherit;
  gap: 0 min(calc(20 * 100vw / 1200), 20px);
  & img{
    width: min(calc(150 * 100vw / 1200), 150px);
  }
  & p {
    font-size: min(calc(24 * 100vw / 1200), 24px);
  }
}
.fnav__list {
  flex-direction: row;
  gap: 0 min(calc(28 * 100vw / 1200), 28px);
}
.fnav__item {
  font-size: min(calc(20 * 100vw / 1200), 20px);
}
.footer__copy {
  font-size: min(calc(12 * 100vw / 1200), 12px);
}
}
}
/* btn_top
-------------------------------------------------------------------------- */
.btn_top {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 2%;
  bottom: 4%;
  z-index: 10;
  visibility: visible;
  opacity: 1;
}
.btn_top a {
  position: relative;
  background: #bbbbbb;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 16px rgb(0,0,0,.16);
  transition: .4s all;
}
.btn_top a::after { 
  content: "";
  width: 16px;
  height: 12px;
  background-color: #fff;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.btn_top a:hover {
opacity: 1;
  transform: scale(1.2);
}


/* top 
==========================================================================*/

/* mv
-------------------------------------------------------------------------- */
#mv{
&.mv {
  padding-top:var(--header-height-sp);
}
.mv__inner {
  margin-inline: auto;
  max-width: 2400px;
  position: relative;
}
.mv__btn {
  margin-inline: auto;
  width: calc(600 * 100vw / 750);
  position: absolute;
  top: calc(680 * 100vw / 750);
  left: 0;
  right: 0;
  & a {
    padding: calc(24 * 100vw / 750);
    border-radius: calc(56 * 100vw / 750);
    font-size: calc(44 * 100vw / 750);
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--color-white);
    background: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.btn__arrow {
  position: relative;
  left: calc(40* 100vw / 750);
  width: calc(40* 100vw / 750);
  height: calc(40* 100vw / 750);
  background: var(--color-white);
  border-radius: 50%;
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: calc(22* 100vw / 750);
    width: calc(16* 100vw / 750);
    height: calc(20* 100vw / 750);
    transform: translate(-50%, -50%);
    background-color: var(--color-secondary);
    clip-path: polygon(0 0, 0 100%, 100% 50%);
  }
}
}

@media screen and (min-width: 751px){
#mv{
&.mv {
  padding-top:var(--header-height);
}
.mv__btn {
  margin-inline: auto;
  width: min(calc(700 * 100vw / 2400), 700px);
  position: absolute;
  top: min(calc(688 * 100vw / 2400), 688px);
  /* top: 34.5vw; */
  left: inherit;
  right: min(calc(192 * 100vw / 2400), 192px);
  & a {
    padding: min(calc(36 * 100vw / 2400), 36px) min(calc(44 * 100vw / 2400), 44px);
    border-radius: min(calc(192 * 100vw / 2400), 192px);
    font-size: min(calc(56 * 100vw / 2400), 56px);
    color: var(--color-white);
    background: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      opacity: 1;
      filter: brightness(1.3);
  }
}
}
.btn__arrow {
  left: min(calc(72 * 100vw / 2400), 72px);
  width: min(calc(56 * 100vw / 2400), 56px);
  height: min(calc(56 * 100vw / 2400), 56px);
  &::after {
    position: absolute;
    left:min(calc(32 * 100vw / 2400), 32px);
    width: min(calc(28 * 100vw / 2400), 28px);
    height: min(calc(36 * 100vw / 2400), 36px);
}
}
}
}
/* entrance
-------------------------------------------------------------------------- */
#entrance {
.entrance__inner {
  padding: min(calc(72 * 100vw / 1200), 72px) 0 calc(100* 100vw / 750);
}
.entrance__title {
  margin-bottom: calc(40* 100vw / 750);
  font-size: calc(48* 100vw / 750);
  font-weight: 700;
  letter-spacing: 0.08em;
  text-align: center;
}
.entrance__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(36* 100vw / 750) calc(24* 100vw / 750);
}
.entrance__item {
  width: calc((100% - calc(24* 100vw / 750)) / 2);
  aspect-ratio: 300/320;
  border-radius: calc(16* 100vw / 750);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(16* 100vw / 750) 0;
  border: 4px solid #003893;
  color: var(--color-primary);
}
.entrance__desc {
  font-size: calc(28* 100vw / 750);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: center;
}
.entrance__images {
  width: calc(128* 100vw / 750);
}
}
@media screen and (min-width: 751px){
#entrance {
.entrance__inner {
  padding: min(calc(72 * 100vw / 1200), 72px) 0 min(calc(100 * 100vw / 1200), 100px);
}
.entrance__title {
  margin-bottom: min(calc(40 * 100vw / 1200), 40px);
  font-size: min(calc(40 * 100vw / 1200), 40px);
}
.entrance__list {
  gap: min(calc(40 * 100vw / 1200), 40px) min(calc(72 * 100vw / 1200), 72px);
}
.entrance__item {
  width: min(calc(250 * 100vw / 1200), 250px);
  aspect-ratio: 1/1;
  border-radius: min(calc(16 * 100vw / 1200), 16px);
  gap: min(calc(16 * 100vw / 1200), 16px) 0;
}
.entrance__desc {
  font-size: min(calc(24 * 100vw / 1200), 24px);
}
.entrance__images {
  width: min(calc(100 * 100vw / 1200), 100px);
}
}
}

/* service
-------------------------------------------------------------------------- */
#service {
.service__inner {
  padding-bottom: calc(100* 100vw / 750);
}
.service__desc {
  margin-bottom: calc(40* 100vw / 750);
  font-size: calc(22* 100vw / 750);
  letter-spacing: 0.08em;
  line-height: 1.8;
}
.service__list {
  display: flex;
  flex-direction: column;
  gap :calc(40* 100vw / 750) 0;
}
.service__box {
  display: grid;
  background: #e8e8e8;
  grid-template-rows: auto calc(223* 100vw / 750);
  border-radius: calc(16* 100vw / 750);
}
.service__box-images img{
  border-radius: calc(16* 100vw / 750) calc(16* 100vw / 750) 0 0;
}
.service__text {
  padding: calc(16* 100vw / 750) calc(24* 100vw / 750);
}
.service__text-title {
  margin-bottom: calc(16* 100vw / 750);
  font-size: calc(32* 100vw / 750);
  font-weight: 700;
  letter-spacing: 0.04em;
}
.service__text-desc {
  font-size: calc(20* 100vw / 750);
}
}

@media screen and (min-width: 751px){
#service {
.service__inner {
  padding-bottom: min(calc(100 * 100vw / 1200), 100px);
}
.service__desc {
  margin-bottom: min(calc(40 * 100vw / 1200), 40px);
  font-size: min(calc(22 * 100vw / 1200), 22px);
}
.service__list {
  flex-direction: row;
  gap : 0 min(calc(60 * 100vw / 1200), 60px);
}
.service__box {
  display: grid;
  background: #e8e8e8;
  grid-template-rows: auto min(calc(223 * 100vw / 1200), 223px);
  border-radius: min(calc(16 * 100vw / 1200), 16px);
}
.service__box-images img{
  border-radius: min(calc(16 * 100vw / 1200), 16px) min(calc(16 * 100vw / 1200), 16px) 0 0;
}
.service__text {
  padding: min(calc(16 * 100vw / 1200), 16px) min(calc(24 * 100vw / 1200), 24px);
}
.service__text-title {
  margin-bottom: min(calc(16 * 100vw / 1200), 16px);
  font-size: min(calc(32 * 100vw / 1200), 32px);
  font-weight: 700;
  letter-spacing: 0.04em;
}
.service__text-desc {
  font-size: min(calc(20 * 100vw / 1200), 20px);
}
}
}

/* info
-------------------------------------------------------------------------- */
#info {
.info__inner {
  padding-bottom: calc(100* 100vw / 750);
}
.info__list {
  display: flex;
  flex-direction: column;
  gap: calc(20* 100vw / 750) 0;
}
.info__item {
  padding: calc(40* 100vw / 750) 0;
  border-bottom: calc(2* 100vw / 750) solid #e8e8e8;
}
.info__box-upper {
  font-size: calc(18* 100vw / 750);
  letter-spacing: 0.04em;
}
.info__box-lower {
  font-size: calc(26* 100vw / 750);
  letter-spacing: 0.08em;
}
}

@media screen and (min-width: 751px){
#info {
.info__inner {
  padding-bottom: min(calc(100 * 100vw / 1200), 100px);
}
.info__list {
  gap: min(calc(20 * 100vw / 1200), 20px) 0;
}
.info__item {
  padding: min(calc(40 * 100vw / 1200), 40px) 0;
  border-bottom: 2px solid #e8e8e8;
}
.info__box-upper {
  font-size: min(calc(20 * 100vw / 1200), 20px);
}
.info__box-lower {
  font-size: min(calc(28 * 100vw / 1200), 28px);
  letter-spacing: 0.08em;
}
}
}

/* contact
-------------------------------------------------------------------------- */
#contact {
.contact__inner {
  padding-bottom: calc(100* 100vw / 750);
}
.contact__text {
  margin-bottom: calc(40* 100vw / 750);
  font-size: calc(28* 100vw / 750);
  letter-spacing: 0.08em;
}
.contact__btn a{
  padding: calc(24* 100vw / 750);
  border-radius: calc(56* 100vw / 750);
  font-size: calc(44 * 100vw / 750);
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__span {
  position: relative;
  left: calc(40* 100vw / 750);
  width: calc(40* 100vw / 750);
  height: calc(40* 100vw / 750);
  background: var(--color-white);
  border-radius: 50%;
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: calc(22* 100vw / 750);
    width: calc(16* 100vw / 750);
    height: calc(20* 100vw / 750);
    transform: translate(-50%, -50%);
    background-color: var(--color-secondary);
    clip-path: polygon(0 0, 0 100%, 100% 50%);
  }
 }
}

@media screen and (min-width: 751px){
#contact {
.contact__inner {
  padding-bottom: min(calc(100 * 100vw / 1200), 100px);
}
.contact__text {
  margin-bottom: min(calc(40 * 100vw / 1200), 40px);
  font-size: min(calc(22 * 100vw / 1200), 22px);
}
.contact__btn a{
  margin-inline: auto;
  width: min(calc(500 * 100vw / 1200), 500px);
  padding: min(calc(24 * 100vw / 1200), 24px);
  border-radius: min(calc(96 * 100vw / 1200), 96px);
  font-size: min(calc(36 * 100vw / 1200), 36px);
}
.btn__span {
  position: relative;
  left: min(calc(24 * 100vw / 1200), 24px);
  width: min(calc(32 * 100vw / 1200), 32px);
  height: min(calc(32 * 100vw / 1200), 32px);
  background: var(--color-white);
  border-radius: 50%;
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: min(calc(18 * 100vw / 1200), 18px);
    width: min(calc(14 * 100vw / 1200), 16px);
    height: min(calc(18 * 100vw / 1200), 18px);
    transform: translate(-50%, -50%);
    background-color: var(--color-secondary);
    clip-path: polygon(0 0, 0 100%, 100% 50%);
  }
 }
}
}

/* company
========================================================================== */

/* company
-------------------------------------------------------------------------- */
#company {
.company__inner {
  padding-bottom: calc(100* 100vw / 750);
}
.company__list {
  display: flex;
  flex-direction: column;
  gap: calc(40* 100vw / 750) 0;
}
.company__item {
  display: grid;
  grid-template-columns: calc(200* 100vw / 750) auto;
}
.company__item-title {
  font-size: calc(28* 100vw / 750);
  font-weight: 700;
  letter-spacing: 0.06em;
}
.company__item-desc {
  font-size: calc(24* 100vw / 750);
  letter-spacing: 0.08em;
}
}

@media screen and (min-width: 751px){
#company {
.company__inner {
  padding-bottom: min(calc(140 * 100vw / 1200), 140px);
}
.company__list {
  gap: min(calc(40 * 100vw / 1200), 40px) 0;
}
.company__item {
  display: grid;
  grid-template-columns: min(calc(200 * 100vw / 1200), 200px) auto;
}
.company__item-title {
  font-size: min(calc(28 * 100vw / 1200), 28px);
}
.company__item-desc {
  font-size: min(calc(24 * 100vw / 1200), 24px);
}
}
}
/* history
-------------------------------------------------------------------------- */
#history {
.history__list {
  display: flex;
  flex-direction: column;
  gap: calc(48* 100vw / 750) 0;
}
.history__item {
  padding-bottom: calc(16* 100vw / 750);
  display: grid;
  grid-template-columns: calc(240* 100vw / 750) auto;
  border-bottom: calc(3* 100vw / 750) solid #d8d8d8;
}
.history__item-title {
  font-size: calc(28* 100vw / 750);
  font-weight: 700;
  letter-spacing: 0.06em;
}
.history__item-desc {
  font-size: calc(24* 100vw / 750);
  letter-spacing: 0.08em;
}
}
@media screen and (min-width: 751px){
#history {
.history__inner {
  padding-bottom: min(calc(100 * 100vw / 1200), 100px);
}
.history__list {
  gap: min(calc(40 * 100vw / 1200), 40px) 0;
}
.history__item {
  padding-bottom: min(calc(16 * 100vw / 1200), 16px);
  grid-template-columns: min(calc(240 * 100vw / 1200), 240px) auto;
  border-bottom: 3px solid #d8d8d8;
}
.history__item-title {
  font-size: min(calc(28 * 100vw / 1200), 28px);
}
.history__item-desc {
  font-size: min(calc(24 * 100vw / 1200), 24px);
}
}
}

/* about
========================================================================== */

/* messeage
-------------------------------------------------------------------------- */
#messeage {
.messeage__inner {
  padding-bottom: calc(100* 100vw / 750);
}
.messeage__container {
  display: flex;
  flex-direction: column;
  gap: calc(28* 100vw / 750) 0;
}
.messeage__images {
  border-radius: calc(24* 100vw / 750);
}
.messeage__title {
  margin-bottom: calc(16* 100vw / 750);
  font-size: calc(24* 100vw / 750);
  font-weight: 700;
  letter-spacing: 0.06em;
  display: flex;
  align-items: baseline;
  gap: calc(8* 100vw / 750);
  & span {
    font-size: calc(36* 100vw / 750);
  }
}
.messeage__desc {
  font-size: calc(20* 100vw / 750);
  letter-spacing: 0.08em;
  line-height: 1.8;
}
}

@media screen and (min-width: 751px){
#messeage {
.messeage__inner {
  padding-bottom: min(calc(100 * 100vw / 1200), 100px);
}
.messeage__container {
  flex-direction: row;
  gap: 0 min(calc(40 * 100vw / 1200), 40px);
}
.messeage__images {
  width: min(calc(450 * 100vw / 1200), 450px);
  height:fit-content;
  aspect-ratio: 450 / 300;
  border-radius: min(calc(12 * 100vw / 1200), 12px);
}
.messeage__title {
  margin-bottom: min(calc(16 * 100vw / 1200), 16px);
  font-size: min(calc(24 * 100vw / 1200), 24px);
  gap: min(calc(8 * 100vw / 1200), 8px);
  & span {
    font-size: min(calc(36 * 100vw / 1200), 36px);
  }
}
.messeage__desc {
  font-size: min(calc(20 * 100vw / 1200), 20px);
}
}
}

/* messeage
-------------------------------------------------------------------------- */
#philosophy {
.philosophy__list {
  display: flex;
  flex-direction: column;
  gap: calc(40* 100vw / 750) 0;
}
.philosophy__item {
  counter-increment: count 1;
}
.philosophy__title {
  margin-bottom: calc(16* 100vw / 750);
  font-size: calc(48* 100vw / 750);
  font-weight: 700;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  gap: 0 calc(12* 100vw / 750);
  &::before {
    content: counter(count, decimal-leading-zero) "";
    letter-spacing: 0;
    color: var(--color-primary);
  }
}
.philosophy__desc {
  font-size: calc(24* 100vw / 750);
  line-height: 2;
}
}

@media screen and (min-width: 751px){
#philosophy {
.philosophy__list {
  gap: min(calc(80 * 100vw / 1200), 80px) 0;
}
.philosophy__title {
  margin-bottom: min(calc(16 * 100vw / 1200), 16px);
  font-size: min(calc(56 * 100vw / 1200), 56px);
  gap: 0 min(calc(12 * 100vw / 1200), 12px);
}
.philosophy__desc {
  font-size: min(calc(24 * 100vw / 1200), 24px);
  line-height: 2;
}
}
}